body {
		background-color: #d9dbda;
}		

form header{
		background-color: red;
		color: white;
		margin:-16px -16px;
		padding:1px 25px;
		border-radius: 1em 1em 0em 0em;			
}

form {
		margin: 0 auto;
		width: 45%;
		padding: 1em;
		border: 1px solid #CCC;
		border-radius: 1em;
		font-family: "Arial";
		background-color: white;
		color: #3c3d3d;
			
}

        
form div + div {
		margin-top: 1em;
}
		
.subHead{
		background-color: #b3b3b3;
		padding-left: .5em;
		margin: 0 auto;
		width: 83%			
}
      
.subDiv{
		background-color: #e6e6e6;
		padding: 1em;
		margin: 0 auto;
		width: 80%;
}
	  
form div {
		font-family: "Arial";
		font-size: 11pt;		
}
		
label {
		display: inline-block;
		width: 24%;
		text-align: right;
			
}

        
input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select, datalist {
		font: 1em sans-serif;
		width: 50%;
		height: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #999;
		border-radius: .3em;
		box-shadow:3px 3px 3px #b3b3b3 ;
}

fieldset{
		width: 50%;
		height: 100px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-color: white;
		border: 1px solid #999;
		border-radius: .3em;
		box-shadow:3px 3px 3px #b3b3b3 ;	
		margin:auto;
		margin-left:24%;
	
}
	
.required label:after { 
		content:" *";
		color:red; 
} 
        
input:focus, textarea:focus {
		border-color: #000;
}
        
input:focus, textarea:focus {
		border-color: #000;
}

input[type=radio] {
		background-color: white;
		color: white;
}
        
textarea {
		vertical-align: top;
		height: 5em;
		resize: vertical;
}
        
.button {
		padding-left: 35%;
}
		
button {
		width: 80px;
		margin-left: 1em;
		background-color: red;
		color: white;
		font-weight: bold;
		padding: .5em 1em;
		border: 1px solid #CCC;
		border-radius: .5em;
		font-family: "Arial";
		font-size: 10pt;
}
		
		
		
		
		
		