.container{
			
		}		

body {
	background-color: #d9dbda;
}		

form header{
			background-color: red;
			color: white;
			margin:-16px -16px;
			padding:1px 25px;
			border-radius: 1em 1em 0em 0em;
			
			
		}

form {
            /* Just to center the form on the page */
            margin: 0 auto;
            width: 45%;
            /* To see the outline of the form */
            padding: 1em;
            border: 1px solid #CCC;
            border-radius: 1em;
			font-family: "Arial";
			background-color: white;
			color: #3c3d3d;
			
        }

        
form div + div {
            margin-top: 1em;
        }
		
.subHead{
			background-color: #b3b3b3;
			padding-left: .5em;
			margin: 0 auto;
			width: 83%
			
		}
      
.subDiv{
			background-color: #e6e6e6;
			padding: 1em;
			margin: 0 auto;
			width: 80%
		}
	  
form div {
			font-family: "Arial";
			font-size: 11pt;
			
		}
		


label {
            /* To make sure that all labels have the same size and are properly aligned */
            display: inline-block;
            width: 24%;
            text-align: right;
			
        }

        
input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select, datalist {
            /* To make sure that all text fields have the same font settings
               By default, textareas have a monospace font */
            font: 1em sans-serif;

        
            /* To give the same size to all text field */
            width: 50%;
			height: 25px;
            -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
            -moz-box-sizing: border-box;    /* For all Gecko based browsers */
            box-sizing: border-box;
        
            /* To harmonize the look & feel of text field border */
            border: 1px solid #999;
			border-radius: .3em;
			box-shadow:3px 3px 3px #b3b3b3 ;
        }

fieldset{
			width: 50%;
			height: 100px;
            -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
            -moz-box-sizing: border-box;    /* For all Gecko based browsers */
            box-sizing: border-box;
			background-color: white;
            /* To harmonize the look & feel of text field border */
            border: 1px solid #999;
			border-radius: .3em;
			box-shadow:3px 3px 3px #b3b3b3 ;	
			margin:auto;
			margin-left:24%;
	
}

		
.required label:after { 
			content:" *";
			color:red; 
		} 
        
input:focus, textarea:focus {
            /* To give a little highlight on active elements */
            border-color: #000;
        }
        
input:focus, textarea:focus {
            /* To give a little highlight on active elements */
            border-color: #000;
        }
input[type=radio] {
			background-color: white;
			color: white;
}
        
textarea {
            /* To properly align multiline text fields with their labels */
            vertical-align: top;
        
            /* To give enough room to type some text */
            height: 5em;
        
            /* To allow users to resize any textarea vertically
               It does not work on every browsers */
            resize: vertical;
        }
        
.button {
            /* To position the buttons to the same position of the text fields */
            padding-left: 35%; /* same size as the label elements */
        }
		
button {
            /* This extra margin represent roughly the same space as the space
               between the labels and their text fields */
            width: 80px;
			margin-left: 1em;
			background-color: red;
			color: white;
			font-weight: bold;
			padding: .5em 1em;
            border: 1px solid #CCC;
            border-radius: .5em;
			font-family: "Arial";
			font-size: 10pt;
        }



		
		
		
		
		
		
		
		
		
		
		
		
		