/*********************************************************************************  
* 
* INT222 – Lab #3b * * I declare that this assignment is my own work in accordance   
* with SenecaAcademic Policy. No part of this assignment has been copied manually   
* or electronically from any other source (including web sites) or distributed to  
* other students.  
*  
* Name: Nahal Esmaeili     Student ID: 106152150      Date: 25 Oct 2016  
*  
********************************************************************************/ 


/* Select elements with class “main-container” and adjust it’s maximum width and margin. */ 
.main-container	{
					max-width: 960px;
					margin: 0 auto;
}


/* Select all <nav> elements that are a child of an element with class “main-container” and adjust its size and position. */ 
.main-container nav {
					width: 30%;
					float: left;
}


/* Select all elements with class "main" that are a child of an element with class “main-container” and adjust its size and position. */ 
.main-container .main	{
						width:70%;
						float: right;
	
}


/* Select all <header> elements that are a child of an element with class “main-container” and adjust its padding all around it and its margin at the bottom. It also sets its back-ground color, border at bottom. */ 
.main-container header 	{
						padding: 10px;
						background-color:  #eeeeee;
						border-bottom: 1px solid  #cccccc;
						margin-bottom: 30px;
}


/* Select all <h1> elements that are a child of <header> element which is a child of an element with class “main-container” and adjust its size and position and its margin at the top. It also sets its font size and its text align. */ 
.main-container header h1	{
							width: 70%;
							font-size: 24px;
							float: right;
							text-align: right;
							margin-top: 10px;
}


/* Select all <footer> elements that are a child of  an element with class “main-container” and adjust its position, padding. It also sets its border at the top, font size and back-ground color. */ 
.main-container footer	{
						clear: both;
						padding: 20px 10px;
						background-color: #eeeeee;
						border-top: 1px solid #cccccc;
						font-size: 13px;
}


/* Select the element with the id of "logo" and adjust its size. It also sets its font size and font style */
#logo	{
		width: 30%;
		font-size: 25px;
		font-weight: bold;
}


/* Select the image that is a child of an element with the id of "logo" and adjust its size. It also sets its vertical align at the middle. */
#logo img	{
			width: 94px;
			vertical-align: middle; 
}


/* Select the unordered list <ul> that is child of element <nav> and remove all of the list styling type. */
nav ul	{
		list-style-type: none;
}

/* Select the hyperlinks that are a child of the unordered list <ul> which is child of element <nav> and remove its text decoration (underline) and adjust it's position.*/
nav ul a	{
			display: block;
			text-decoration: none;
			padding: 5px;
}

/* Select the "province" that is a class of <div> elements and adjust its size and position.*/
div.province	{
				width: 30%;
				float: left;
				margin: 8px;
				height: 310px;
}

/* Select the "description" class  of "province" class which is a class of div and adjust its size and scroll bar.*/
div.province .description	{			
							max-height: 165px;
							overflow-y: auto;
							overflow-x: hidden;
							margin: 8px auto;
}

/* Select hyperlinks of class "province" of elements <div> and adjust its size, position and style..*/
div.province a	{
				display: block;
				text-align: center;
				background-color: #555555;
				color: #eeeeee;
				text-decoration: none;
				padding: 5px;
}


/* Select the class "flag" which is a class of <img> and adjust its width.*/
img.flag	{
			
			width:100%;
			
}


















































